00 */6 * * *   /data/scripts/better_postgresql_dump_backup.sh sixhour
00 3 * * *   /data/scripts/better_postgresql_dump_backup.sh daily
00 1 * * 6   /data/scripts/better_postgresql_dump_backup.sh weekly
00 2 1 * *   /data/scripts/better_postgresql_dump_backup.sh monthly
